* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

h1 > a {
    color: black;
    text-decoration: none;
}

.navigation {
    background-color: #8892bf;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation button {
    border-radius: 5px;
    padding: 5px;
    background-color: #29bf1d;
    cursor: pointer;
}

.navigation button:hover {
    background-color: #bf5da4;
}

#login-btn {
    margin-right: 15px;
}

body {
    background-color: #bfac90;
}

main {
    padding: 10px 20px 0;
}

input {
    display: block;
}

.register-btn {
    margin-bottom: 15px;
}

.validation_error {
    color: red;
}
.validation_success {
    color: green;
}

fieldset {
    margin-bottom: 10px;
}